

#preloader{
    position: fixed;
    height: 100%;
    width: 100vw;
    z-index: 1000;
    overflow: hidden;

    // border: 1px solid red;

    // display: flex;
    // justify-content: center;
    

        >svg{
            width: 100%;
            border: 1px solid red;
            .hidden{
                    visibility: hidden;
                }
        }
    
}